<p>Just a hobby project to track meeting my buddies.</p>
Ideas for improvement:
<ul>
<li>Buddy<ul>
<li>add contact information</li>
<li>Filter by category using ID, not name</li>
<li>...</li>
</ul></li>
<li>Location<ul>
<li>Default new locaction's name to the search term</li>
<li>Search box font color</li>
<li>...</li>
</ul></li>
<li>Meetup<ul>
<li>New meetup on start screen? With "plaintext" input?</li>
<li>show calendar on start screen with meetups? maybe like github contribution matrix</li>
<li>optional comment field for meetup</li>
<li>Add all meetups underneath location map-popup</li>
<li>Sort buddies alphabetically</li>
<li>...</l>
</ul></li>
<li>User<ul>
<li>registration</li>
<li>pw reset</li>
<li>settings, e.g., map</li>
<li>...</li>
</ul></li>
<li>...</li>
</ul>

<p>
<a href="https://www.djangoproject.com/" target="_blank">Built with Django<br>
<img src="/static/django2.png" width="200"/></a>
<br>
<a href="https://simplecss.org/" target="_blank">Using Simple CSS</a>
</p>
<p>
<a href="https://uberspace.de/" target="_blank">Hosted on uberspace<br>
<img src="/static/uberspace.png" width="200"/></a>
</p>
<p>
<a href="https://github.com/paulberlin/treffen/" target="_blank">Source on github<br>
<img src="/static/github.png" width="200"/></a>
</p>

