<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/simple.min.css">
    <link rel="stylesheet" href="/static/custom.css?abc">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <title>Buddy-Logger{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
  <header>
    <a href="/"><img src="/static/buddy_logger_2.png" alt="Logo"/></a>
{% if user.is_authenticated %}
<nav>
  <a href="{% url 'buddies' %}" {% if highlight == 'buddies' %}class="current"{% endif %}>My Buddies</a>
  <a href="{% url 'locations' %}" {% if highlight == 'locations' %}class="current"{% endif %}>My Locations</a>
  <a href="{% url 'meetups' %}" {% if highlight == 'meetups' %}class="current"{% endif %}>My Meetups</a>
  <a href="{% url 'categories' %}" {% if highlight == 'categories' %}class="current"{% endif %}>My Categories</a>
  <a id="logout_link" style="background:var(--accent);color:var(--bg);" href="{% url 'confirm_logout' %}" onclick="document.getElementById('logout').submit()">Logout</a>
  <script>document.getElementById("logout_link").href="#";</script>
</nav>
<form action="{% url 'logout' %}" method="post" id="logout">
  {% csrf_token %}
</form>
{% else %}
<nav>
<a style="background:var(--accent);color:var(--bg);" href="{% url 'login' %}">Login</a>
</nav>
{% endif %}
</header>

<main>
{% if user.is_authenticated %}

{% block content %}Welcome to Buddy-Logger.{% endblock %}

{% else %}

{% block login %}
Please <a href="{% url 'login' %}">login</a> to get started.
{% endblock %}

{% endif %}

</main>

<footer>
<p><a href="{% url 'about' %}">About</a> | &copy; Paul Führing</p>
</footer>
</body>
</html>
