{% extends "base.html" %}

{% block title %} - Buddy {{ buddy.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/leaflet/dist/leaflet.css" />
<script src="/static/leaflet/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
Hi {{ user.username }}, 
here are the details of your buddy <em>{{ buddy.name }}</em>{% if buddy.category %} (category: {{ buddy.category }}){% endif %}:
<br>
{% if alone %}
<a href="{% url 'buddy_details' buddy.id %}">Show all meetups with this buddy.</a>
{% else %}
<a href="{% url 'buddy_details_alone' buddy.id %}">Show meetups with this buddy alone.</a>
{% endif %}

{% if how_often > 2 %}
<aside><p>
On average, you met with this buddy every
{{ frequency | floatformat:-1 }}
days.
{% if last_meetup_days > buddy.frequency %}
Your last meetup is already {{ last_meetup_days }} days ago, time to meet again?!
{% endif %}
</p></aside>
{% endif %}

{% if how_often > 2 %}
{% include "meetups_cal.html" with meetups=meetups %}
{% endif %}

{% if how_often > 0 %}
{% include "meetups_snippet.html" with meetups=meetups %}
{% endif %}


<details>
<summary>Add a new meetup with this buddy</summary>
{% if locations_amount == 0 %}
Please <a href="{%url 'locations' %}#new">add a location</a> first.
{% else %}
<form action="{% url 'meetups' %}" method="post">
{{ newmeetup_form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
{% endif %}
</details>

<details {{ open_details }}>
<summary>Update buddy</summary>
<p>
<form action="" method="post" id="form">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
<br>
<a href="#" onclick="document.getElementById('delete_prompt').showModal()">Delete buddy</a>
<dialog id="delete_prompt">
<p>Please confirm deleting buddy <em>{{ buddy.name }}</em><br>
(Note that the buddy will be removed from meetups, but the meetup itself remains.)</p>
<button onclick="document.getElementById('id_delete').value='1';document.getElementById('form').submit()">Confirm</button>
<br>
<a href="#" onclick="document.getElementById('delete_prompt').close()">Never mind</a>
</dialog>

</form>
</p>
</details>
<p><a href="{% url 'buddies' %}">Back to buddies list</a></p>

{% endblock %}
