{% extends "base.html" %}

{% block title %} - Buddies{% endblock %}

{% block content %}
Hi {{ user.username }}, 
here's a list of your buddies:

<ul>
    {% for buddy in buddies %}
        <li><a href="{% url 'buddy_details' buddy.id %}">{{ buddy.name }}</a> 
        {% if buddy.how_often > 0 %}
        (met
        {% if buddy.how_often == 1 %}one time, on
        {% else %}{{ buddy.how_often }} times, latest on{% endif %}
        {{ buddy.latest_meetup.date|date:"Y-m-d" }})
        {% else %}
	(not met yet)
        {% endif %}
        </li>
    {% empty %}
        <li>None yet :-/<br>Maybe try a different category?</li>
    {% endfor %}
</ul>

<p>
{{ category_form }}
</p>

<script>
document.getElementById('id_categories').addEventListener(
     'change',
     function() { 
	const select = event.target;
  	const selectedOption = select.options[select.selectedIndex];
	if (selectedOption.text=='---------') {
		location.href='{% url 'buddies' %}/';
	} else {
		location.href='{% url 'buddies' %}/' + selectedOption.text;
	}
	},
     false
  );
</script>

<details {{ open_details }}>
<summary>Add a buddy</summary>
<p>
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
</p>
</details>
{% endblock %}
