{% extends "base.html" %}

{% block title %} - Buddies{% endblock %}

{% block content %}
Hi {{ user.username }}, 
here's a list of your buddies:
<br><a href="#new" onclick="document.getElementById('new').open = true;">add a new buddy</a>
<p>
 
{% if buddies_without_category %}
<details>
<summary><em>No category</em></summary>
<ul>
  {% for buddy in buddies_without_category %}
    <li>{% include "buddy_snippet.html" with buddy=buddy %}</li>
  {% endfor %}
</ul>
</details>
{% endif %}


{% for cat in categories %}
{% if cat.how_often_buddy > 0 %}
<details
{% if filter %}
open
{% endif %}
>
<summary>{{ cat }}</summary>
<ul>
  {% for buddy in cat.buddy_set.all|dictsort:"name" %}
    <li>{% include "buddy_snippet.html" with buddy=buddy %}</li>
  {% endfor %}
</ul>
<a href="{% url 'buddies' %}">Clear filter</a>
</details>
{% endif %}
{% endfor %}

<details {{ open_details }} id="new">
<summary>Add a buddy</summary>
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
</details>
</p>

{% endblock %}
