{% extends "base.html" %}

{% block title %} - Category {{ category.name }}{% endblock %}

{% block content %}
Hi {{ user.username }}, 
here are the details of your category <em>{{ category.name }}</em>:

<ul>
{% if category.category_type == 1 %}
<li>Used at 
{% if category.how_often_buddy == 0 %}no buddies yet
{% else %}
<a href="{% url 'buddies_cat' category.id %}">{% if category.how_often_buddy == 1 %}one buddy</a> 
{% else %}{{ category.how_often_buddy }} buddies</a>{% endif %}
{% endif %}
</li>
{% else %}
<li>Used at 
{% if category.how_often_location == 0 %}no locations yet
{% else %}
<a href="{% url 'locations_cat' category.id %}">{% if category.how_often_meetup == 1 %}one location</a> 
{% else %}{{ category.how_often_location }} locations</a>{% endif %}
{% endif %}
</li>
{% endif %}
</ul>

<details {{ open_details }}>
<summary>Update category</summary>
<p>
<form action="" method="post" id="form">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
<br>
<a href="#" onclick="document.getElementById('dialog-demo').showModal()">Delete category</a>
<dialog id="dialog-demo">
<p>Please confirm deleting category <em>{{ category.name }}</em><br>
(Note that the category can only be removed when it's not used at any location or buddy.)</p>
<button onclick="document.getElementById('id_delete').value='1';document.getElementById('form').submit()">Confirm</button>
<br>
<a href="#" onclick="document.getElementById('dialog-demo').close()">Never mind</a>
</dialog>
</form>
</p>
</details>
<p><a href="{% url 'categories' %}">Back to categories list</a></p>

{% endblock %}
