{% extends "base.html" %}

{% block title %} - Categories{% endblock %}

{% block content %}
Hi {{ user.username }}, 
here's a list of your categories:
<br><a href="#new" onclick="document.getElementById('new').open = true;">add a new category</a>
<p>

<ul>
     {% for category in categories %}
        <li><a href="{% url 'category_details' category.id %}">{{ category.name }}</a></li>
     {% empty %} 
        <li>None yet :-/</li>
     {% endfor %}
</ul>

<details {{ open_details }} id="new">
<summary>Add a category</summary>
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
</details>

</p>
{% endblock %}
