{% extends "base.html" %}

{% block title %} - Location {{ location.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/leaflet/dist/leaflet.css"/>
<script src="/static/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="/static/leaflet/Control.Geocoder.css"/>
<script src="/static/leaflet/Control.Geocoder.js"></script>
{% endblock %}

{% block content %}
Hi {{ user.username }}, 
here are the details of your location <em>{{ location.name }}</em>{% if location.category %} (category: {{ location.category }}){% endif %}:

{% if location.how_often > 2 %}
<aside><p>
On average, you visit this place every 
{{ location.frequency | floatformat:-1 }}
days.
</aside></p>
{% endif %}

{% if location.how_often > 2 %}
{% include 'meetups_cal.html' with meetups=location.meetups %}
{% endif %}

{% include 'meetups_snippet.html' with meetups=location.meetups nomap=1 %}

<details>
<summary>Add a new meetup for this location</summary>
{% if buddies_amount == 0 %}
Please <a href="{% url 'buddies' %}#new">add a buddy</a> first.
{% else %}
<form action="/meetups" method="post">
{{ newmeetup_form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
{% endif %}
</details>

<details {{ open_details }}>
<summary>Update location</summary>
<p>
<a name="update"></a>
<form action="" method="post" id="form">
{{ form }}
{% csrf_token %}
<a href="#update" onclick="removeMarker()">Clear marker</a>
<div style="height: 180px;" id="update_map"></div>
<input type="submit" value="Make it so!">
<br>
<a href="#update" onclick="document.getElementById('delete_prompt').showModal()">Delete location</a>
<dialog id="delete_prompt">
<p>Please confirm deleting location <em>{{ location.name }}</em><br>
(Note that the location can only be removed when it's not used at any meetup.)</p>
<button {% if location.how_often == 0 %} onclick="document.getElementById('id_delete').value='1';document.getElementById('form').submit()" {% else %} disabled="true" {% endif %}>Confirm</button>
<br>
<a href="#update" onclick="document.getElementById('delete_prompt').close()">Never mind</a>
</dialog>

</form>
</p>
</details>
<p><a href="{% url 'locations' %}">Back to locations list</a></p>

<script>
var update_map = L.map('update_map').setView([{{ map_lat }}, {{ map_lng }}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(update_map);
L.Control.geocoder({
  defaultMarkGeocode: false
}).on('markgeocode', function(e) {
    var bbox = e.geocode.bbox;
    var poly = L.polygon([
      bbox.getSouthEast(),
      bbox.getNorthEast(),
      bbox.getNorthWest(),
      bbox.getSouthWest()
    ]).addTo(update_map);
    update_map.fitBounds(poly.getBounds());
  }).addTo(update_map);
var marker;
{% if location.lng %}
marker = L.marker([{{ location.lat }}, {{ location.lng }}]).addTo(update_map);
{% endif %}
function onMapClick(e) {
    //alert("You clicked the map at " + e.latlng);
    if (marker) {
        marker.setLatLng(e.latlng);
    } else {
	marker = L.marker(e.latlng).addTo(update_map);
    }
    document.getElementById('id_lng').value = e.latlng.lng;
    document.getElementById('id_lat').value = e.latlng.lat;
}
function removeMarker() {
    update_map.removeLayer(marker);
    marker = null;
    document.getElementById('id_lng').value = "";
    document.getElementById('id_lat').value = "";
}
update_map.on('click', onMapClick);
</script>

{% endblock %}
