{% extends "base.html" %}

{% block title %} - Locations{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/leaflet/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="/static/leaflet/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<link rel="stylesheet" href="/static/leaflet/Control.Geocoder.css"/>
<script src="/static/leaflet/Control.Geocoder.js"></script>
{% endblock %}


{% block content %}
Hi {{ user.username }}, 

here's a list of your locations: (<a href="{% url 'locations_map' %}">show map instead</a>
or <a href="{% url 'locations_heatmap' %}">show a heatmap</a>)
<br>You can also <a href="#new" onclick="document.getElementById('new').open = true;">add a new location</a>.
<p>

{% if locations_without_category %}
<details>
<summary><em>No category</em></summary>
<ul>
  {% for location in locations_without_category %}
    <li>{% include "location_snippet.html" with location=location %}</li>
  {% endfor %}
</ul>
</details>
{% endif %}


{% for cat in categories %}
{% if cat.how_often_location > 0 %}
<details
{% if filter %}
open
{% endif %}
>
<summary>{{ cat }} ({{ cat.how_often_location }})</summary>
<ul>
  {% for location in cat.location_set.all|dictsort:"name" %}
    <li>{% include "location_snippet.html" with location=location %}</li>
  {% endfor %}
</ul>
{% if filter %}
<a href="{% url 'locations' %}">Clear filter</a>
{% else %}
<a href="{% url 'meetups_cat2' cat.id %}">See meetups of this category</a>
{% endif %}
</details>
{% endif %}
{% endfor %}


<details {{ open_details }} id="new">
<summary>Add a location</summary>
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
Optionally, you can click on the map to specify the exact place of this Location.
<div style="height: 250px;" id="new_map"></div>
</details>

<script>
var new_map = L.map('new_map').setView([{{ map_lat }}, {{ map_lng }}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(new_map);
L.Control.geocoder({
  defaultMarkGeocode: false
}).on('markgeocode', function(e) {
    var bbox = e.geocode.bbox;
    var poly = L.polygon([
      bbox.getSouthEast(),
      bbox.getNorthEast(),
      bbox.getNorthWest(),
      bbox.getSouthWest()
    ]).addTo(new_map);
    new_map.fitBounds(poly.getBounds());
  }).addTo(new_map);

var marker;
function onMapClick(e) {
    if (marker) {
        marker.setLatLng(e.latlng);
    } else {
        marker = L.marker(e.latlng).addTo(new_map);
    }
    document.getElementById('id_lng').value = e.latlng.lng;
    document.getElementById('id_lat').value = e.latlng.lat;
    var newname = document.getElementById('id_name');
    if (newname.value == '') {
      // retrieve search term and put as default to name field
      var elements = document.getElementsByTagName('input');
      for (var e in elements) {
    	//console.log(elements[e]);
	if (elements[e].type == "search") {
	  //console.log(elements[e].value);
	  newname.value = elements[e].value;
	}
      }
    }
}
new_map.on('click', onMapClick);
</script>
</p>
{% endblock %}
