{% extends "base.html" %}

{% block title %} - Locations{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/leaflet/Control.Geocoder.css"/>
<script src="/static/leaflet/Control.Geocoder.js"></script>
{% endblock %}


{% block content %}
Hi {{ user.username }}, 

{% if show_map %}
here's a map of your locations: (<a href="{% url 'locations' %}">show list instead</a>)
<br><a href="#new" onclick="document.getElementById('new').open = true;">add a new location</a>
<p>
{% if locations %}
<div style="height: 250px;" id="map"></div>
<script>
var map = L.map('map').setView([{{ map_lat }}, {{ map_lng }}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
var lat_lng = [];
{% for location in locations %}
  {% if location.lng %}
    var marker{{ location.id }} = L.marker([{{ location.lat }}, {{ location.lng }}]).addTo(map);
    lat_lng.push([{{ location.lat }}, {{ location.lng }}]);
    marker{{ location.id }}.bindPopup('<a href="{% url 'location_details' location.id %}">{{ location.name }}</a>');
  {% endif %}
{% endfor %}
if (lat_lng.length > 0) {
  var bounds = new L.LatLngBounds(lat_lng);
  map.fitBounds(bounds);
}
</script>
{% else %}
<ul>
        <li>None yet :-/</li>
</ul>
{% endif %}
</p>

{% else %}
here's a list of your locations (<a href="{% url 'locations' %}/map">show map instead</a>):
<br><a href="#new" onclick="document.getElementById('new').open = true;">add a new location</a>
<p>

{% if locations_without_category %}
<details>
<summary><em>No category</em></summary>
<ul>
  {% for location in locations_without_category %}
    <li>{% include "location_snippet.html" with location=location %}</li>
  {% endfor %}
</ul>
</details>
{% endif %}


{% for cat in categories %}
{% if cat.how_often_location > 0 %}
<details
{% if filter %}
open
{% endif %}
>
<summary>{{ cat }}</summary>
<ul>
  {% for location in cat.location_set.all|dictsort:"name" %}
    <li>{% include "location_snippet.html" with location=location %}</li>
  {% endfor %}
</ul>
{% if filter %}
<a href="{% url 'locations' %}">Clear filter</a>
{% endif %}
</details>
{% endif %}
{% endfor %}

{% endif %}

<details {{ open_details }} id="new">
<summary>Add a location</summary>
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
<div style="height: 250px;" id="new_map"></div>
</details>

<script>
var new_map = L.map('new_map').setView([{{ map_lat }}, {{ map_lng }}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(new_map);
L.Control.geocoder({
  defaultMarkGeocode: false
}).on('markgeocode', function(e) {
    var bbox = e.geocode.bbox;
    var poly = L.polygon([
      bbox.getSouthEast(),
      bbox.getNorthEast(),
      bbox.getNorthWest(),
      bbox.getSouthWest()
    ]).addTo(new_map);
    new_map.fitBounds(poly.getBounds());
  }).addTo(new_map);

var marker;
function onMapClick(e) {
    if (marker) {
        marker.setLatLng(e.latlng);
    } else {
        marker = L.marker(e.latlng).addTo(new_map);
    }
    document.getElementById('id_lng').value = e.latlng.lng;
    document.getElementById('id_lat').value = e.latlng.lat;
}
new_map.on('click', onMapClick);
</script>
</p>
{% endblock %}
