{% extends "base.html" %}

{% block title %} - Locations{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/leaflet/dist/leaflet.css"/>
<script src="/static/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="/static/leaflet/Control.Geocoder.css"/>
<script src="/static/leaflet/Control.Geocoder.js"></script>
<script src="/static/leaflet/leaflet-heat.js"></script>
{% endblock %}


{% block content %}
Hi {{ user.username }}, 
here's a heatmap of your locations: (<a href="{% url 'locations' %}">show list instead</a>
or <a href="{% url 'locations_map' %}">show a normal map</a>)
<br>You can also <a href="#new" onclick="document.getElementById('new').open = true;">add a new location</a>.
<p>
{% if locations %}
<div style="height: 500px;" id="map"></div>
<script>
var map = L.map('map').setView([{{ map_lat }}, {{ map_lng }}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
var lat_lng = [];
var lat_lng_amount = [];
{% for location in locations %}
  {% if location.lng and location.how_often > 0 %}
    lat_lng.push([{{ location.lat }}, {{ location.lng }}]);
    lat_lng_amount.push([{{ location.lat }}, {{ location.lng }}, {{ location.how_often }}]);
  {% endif %}
{% endfor %}
if (lat_lng.length > 0) {
  var heat = L.heatLayer(lat_lng_amount, {radius: 25, max: 10, minOpacity: 0.7}).addTo(map);
  var bounds = new L.LatLngBounds(lat_lng);
  map.fitBounds(bounds);
}
</script>
{% else %}
<ul>
        <li>None yet :-/</li>
</ul>
{% endif %}
</p>


<details {{ open_details }} id="new">
<summary>Add a location</summary>
<form action="{% url 'locations' %}" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
Optionally, you can click on the map to specify the exact place of this Location.
<div style="height: 250px;" id="new_map"></div>
</details>

<script>
var new_map = L.map('new_map').setView([{{ map_lat }}, {{ map_lng }}], 13);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(new_map);
L.Control.geocoder({
  defaultMarkGeocode: false
}).on('markgeocode', function(e) {
    var bbox = e.geocode.bbox;
    var poly = L.polygon([
      bbox.getSouthEast(),
      bbox.getNorthEast(),
      bbox.getNorthWest(),
      bbox.getSouthWest()
    ]).addTo(new_map);
    new_map.fitBounds(poly.getBounds());
  }).addTo(new_map);

var marker;
function onMapClick(e) {
    if (marker) {
        marker.setLatLng(e.latlng);
    } else {
        marker = L.marker(e.latlng).addTo(new_map);
    }
    document.getElementById('id_lng').value = e.latlng.lng;
    document.getElementById('id_lat').value = e.latlng.lat;
    var newname = document.getElementById('id_name');
    if (newname.value == '') {
      // retrieve search term and put as default to name field
      var elements = document.getElementsByTagName('input');
      for (var e in elements) {
    	//console.log(elements[e]);
	if (elements[e].type == "search") {
	  //console.log(elements[e].value);
	  newname.value = elements[e].value;
	}
      }
    }
}
new_map.on('click', onMapClick);
</script>
</p>
{% endblock %}
