{% extends "base.html" %}

{% block head %}
{% if cal %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@hsablonniere/activity-graph/+esm"></script>
    <style>
activity-graph {
--size: 10px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji';
gap: 3px;
border: 1px solid #d0d7de;
border-radius: 0.375em;
padding: 1em;
display: inline-grid;
}

activity-graph::part(weekday-header),
activity-graph::part(month-header) {
font-size: 12px;
}

activity-graph::part(weekday-header),
activity-graph::part(day) {
height: var(--size);
line-height: var(--size);
}

activity-graph::part(weekday-header) {
padding-right: 0.25em;
}

activity-graph::part(weekday-header--even) {
display: none;
}

activity-graph::part(month-header) {
height: 13px;
line-height: 13px;
}

activity-graph[month-limits='middle']::part(month-header) {
text-align: center;
}

activity-graph::part(day) {
border-radius: 2px;
outline-offset: -1px;
outline: 1px solid #1b1f230f;
width: var(--size);
}

activity-graph::part(day--data-0) {
background-color: #ebedf0;
}

activity-graph::part(day--data-1) {
background-color: #9be9a8;
}

activity-graph::part(day--data-2) {
background-color: #40c463;
}

activity-graph::part(day--data-3) {
background-color: #30a14e;
}

activity-graph::part(day--data-4) {
background-color: #216e39;
}
</style>
{% endif %}
{% endblock %}

{% block title %} - Meetups{% endblock %}

{% block content %}
Hi {{ user.username }}, 
below is a list of your meetups. You can also
<a href="#new" onclick="document.getElementById('new').open = true;">add a new meetup</a>
or filter by the categories:
<br>
<table width="100%" class="noborder"><tr>
<td>{{ buddy_category_form }}</td>
<td>{{ location_category_form }}</td>
</tr></table>

<script>
document.getElementById('id_loc_categories').addEventListener(
     'change',
     function() { 
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
	const buddy_select = document.getElementById('id_bud_categories')
	const buddy_selectedOption = buddy_select.options[buddy_select.selectedIndex];
	calculateURL(selectedOption, buddy_selectedOption)
        },
     false
  );

document.getElementById('id_bud_categories').addEventListener(
     'change',
     function() { 
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
	const loc_select = document.getElementById('id_loc_categories')
	const loc_selectedOption = loc_select.options[loc_select.selectedIndex];
	calculateURL(loc_selectedOption, selectedOption)
        },
     false
  );

function calculateURL(locSelect, budSelect) {
	var url = "";
	if (budSelect.text == "---------") {
		url += "0";
	} else {
		url += budSelect.value;
	}
	url += "-";
        if (locSelect.text=='---------') {
                url += "0";
        } else {
		url += locSelect.value;
        }
        location.href='{% url 'meetups' %}/category/' + url;
}
</script>
{% if cal %}
<script>
</script>
<activity-graph start-date="2024-01-01" end-date="2024-12-31" data="{
  '2024-04-01': {
      title: '2 contributions',
          parts: ['level-1'],
	    },
	      '2024-04-04': {
	          title: '27 contributions',
		      parts: ['level-4'],
		        },
			}"
			></activity-graph>

{% else %}
{% include "meetups_snippet.html" with meetups=meetups %}
{% endif %}


<details {{ open_details }} id="new">
<summary>Add a meetup</summary>
{% if locations_amount == 0 %}
<a href="{% url 'locations' %}#new">Please add a location first.</a>
{% elif buddies_amount == 0 %}
<a href="{% url 'buddies' %}#new">Please add a buddy first.</a>
{% else %}
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
{% endif %}
</details>

{% endblock %}
