{% extends "base.html" %}

{% block title %} - Meetups{% endblock %}

{% block content %}
Hi {{ user.username }}, 
below is a list of your meetups. You can also
<a href="#new" onclick="document.getElementById('new').open = true;">add a new meetup</a>
or filter by the categories:
<br>
<table width="100%" class="noborder"><tr>
<td>{{ buddy_category_form }}</td>
<td>{{ location_category_form }}</td>
</tr></table>

<script>
document.getElementById('id_loc_categories').addEventListener(
     'change',
     function() { 
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
	const buddy_select = document.getElementById('id_bud_categories')
	const buddy_selectedOption = buddy_select.options[buddy_select.selectedIndex];
	calculateURL(selectedOption, buddy_selectedOption)
        },
     false
  );

document.getElementById('id_bud_categories').addEventListener(
     'change',
     function() { 
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
	const loc_select = document.getElementById('id_loc_categories')
	const loc_selectedOption = loc_select.options[loc_select.selectedIndex];
	calculateURL(loc_selectedOption, selectedOption)
        },
     false
  );

function calculateURL(locSelect, budSelect) {
	var url = "";
	if (budSelect.text == "---------") {
		url += "0";
	} else {
		url += budSelect.value;
	}
	url += "-";
        if (locSelect.text=='---------') {
                url += "0";
        } else {
		url += locSelect.value;
        }
        location.href='{% url 'meetups' %}/category/' + url;
}
</script>

{% include "meetups_snippet.html" with meetups=meetups %}


<details {{ open_details }} id="new">
<summary>Add a meetup</summary>
{% if locations_amount == 0 %}
<a href="{% url 'locations' %}">Please add a location first.</a>
{% elif buddies_amount == 0 %}
<a href="{% url 'buddies' %}">Please add a buddy first.</a>
{% else %}
<form action="" method="post">
{{ form }}
{% csrf_token %}
<input type="submit" value="Make it so!">
</form>
{% endif %}
</details>

{% endblock %}
